<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.academy.mapper.AnnualLeaveMapper">
	
	<!-- 월별 연차리스트 -->
	<select id="selectAnnualLeave" parameterType="String"
								   resultType="com.example.academy.dto.AnnualLeaveListDTO">
		SELECT
			ap.attendance_approval_no approvalNo
			, ap.attendance_approval_begindate begindate
			, ap.attendance_approval_enddate enddate
			, ap.create_date createDate
			, ap.update_date updateDate
		FROM attendance_approval ap
		LEFT OUTER JOIN employee e ON e.employee_no = ap.employee_no
		LEFT OUTER JOIN common name ON name.`code` = ap.attendance_approval_type
		LEFT OUTER JOIN common status ON status.`code` = ap.attendance_approval_status
		WHERE ap.use_yn = 1 
		AND name.name = '연차' 
		AND DATE_FORMAT(ap.create_date, '%Y-%m') = #{month}
	</select>
	
</mapper>