<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.academy.mapper.AuthMapper">

    <!-- 진수우 : 시큐리티 로그인 시 사원 데이터베이스 조회. -->
    <select id="findByUsername" resultType="com.example.academy.vo.Employee">
        SELECT employee_no employeeNo
        , employee_pw employeePw
        , employee_role employeeRole
        FROM employee
        WHERE employee_no = #{employeeNo}
    </select>
    
</mapper>