<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.academy.mapper.BoardMapper">

	<!-- 공지사항 조회수 수정 -->
	<update id="updateBoardCount" parameterType="Integer">
		UPDATE board
		SET board_count = board_count + 1
		WHERE board_no = #{boardNo};	
	</update>
	
	<!-- 공지사항 수정 -->
	<update id="updateBoard" parameterType="com.example.academy.dto.BoardDTO">
		UPDATE board b
		LEFT OUTER JOIN board_file bf ON b.board_no = bf.board_no
		LEFT OUTER JOIN file f ON f.file_no = bf.file_no
		SET 
		    b.board_title = #{boardTitle},
		    b.board_content = #{boardContent},
		    b.update_employee_no = #{updateEmployeeNo},
		    f.file_name = '#{fileName}',
		    f.file_ext = '#{fileExt}'
		WHERE b.board_no = #{boardNo};
	</update>

	<!-- 공지사항 삭제 -->
	<delete id="deleteBoard" parameterType="Integer">
		DELETE FROM board WHERE board_no = #{boardNo}
	</delete>

	<!-- 공지사항 추가 -->
	<insert id="insertBoard" parameterType="com.example.academy.dto.BoardDTO">
		INSERT into board (
			board_title
			, board_content
			, create_employee_no
			, update_employee_no
			)
		VALUES (
			#{boardTitle}
			, #{boardContent}
			, #{createEmployeeNo}
			, #{updateEmployeeNo}
			)
	</insert>

	<!-- 상세 공지사항 조회  -->
	<select id="selectBoardOne" resultType="com.example.academy.dto.BoardDTO" parameterType="Integer">
		SELECT
			b.board_no boardNo
			, b.board_title boardTitle
			, b.board_content boardContent
			, b.create_employee_no createEmployeeNo
			, b.update_employee_no updateEmployeeNo
			, b.board_count boardCount
			, b.create_date createDate
			, b.update_date updateDate
			, f.file_name
			, f.file_ext
		FROM board b
		LEFT OUTER JOIN board_file bf on b.board_no = bf.board_no
		LEFT OUTER JOIN file f ON f.file_no = bf.file_no
		WHERE b.board_no = #{boardNo}
	</select>
	
	<!-- 공지사항리스트 조회 -->
	<select id="selectBoardList" resultType="com.example.academy.dto.BoardListDTO">
		SELECT
			b.board_no boardNo
			, b.board_title boardTitle
			, e.employee_name employeeName
			, b.board_count boardCount
			, b.create_date createDate
			, b.update_date updateDate
		FROM board b
		LEFT OUTER JOIN employee e ON e.employee_no = b.update_employee_no
	</select>

</mapper>