<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.academy.mapper.BoardMapper">

	<!-- 메인페이지에 최신 공지사항 3개 조회 -->
	<select id="selectBoardListByMain" resultType="com.example.academy.dto.BoardListByMainDTO">
		SELECT
					b.board_no boardNo
					, b.board_title boardTitle
					, e.employee_name employeeName
					, b.create_date createDate
					, b.update_date updateDate
		FROM board b
		LEFT OUTER JOIN employee e ON e.employee_no = b.update_employee_no
		WHERE b.use_yn = 1
		ORDER BY createDate DESC
		LIMIT 5
	</select>

	<!-- 공지사항 삭제 버튼 클릭 시 yn 수정 -->
	<update id="updateBoardYN" parameterType="Integer">
		UPDATE board
		SET use_yn = 0
		WHERE board_no = #{boardNo};	
	</update>

	<!-- 공지사항 조회수 수정 -->
	<update id="updateBoardCount" parameterType="Integer">
		UPDATE board
		SET board_count = board_count + 1
		WHERE board_no = #{boardNo};	
	</update>
	
	<!-- 공지사항 수정 -->
	<update id="updateBoard" parameterType="com.example.academy.dto.BoardModifyDTO">
			UPDATE board b
			SET 
			    b.board_title = #{boardTitle}
			    , b.board_content = #{boardContent}
			    , b.update_employee_no = #{updateEmployeeNo}
			WHERE b.board_no = #{boardNo}
	</update>
	
	<!-- 공지사항 추가 -->
	<insert id="insertBoard" parameterType="com.example.academy.dto.BoardDTO" useGeneratedKeys="true" keyProperty="boardNo">
		INSERT into board (
			board_title
			, board_content
			, create_employee_no
			, update_employee_no
			)
		VALUES (
			#{boardTitle}
			, #{boardContent}
			, #{createEmployeeNo}
			, #{updateEmployeeNo}
			)
	</insert>

	<!-- 상세 공지사항 조회  -->
	<select id="selectBoardOne" resultType="com.example.academy.dto.BoardDTO" parameterType="Integer">
		SELECT
			b.board_no boardNo
			, b.board_title boardTitle
			, b.board_content boardContent
			, b.create_employee_no createEmployeeNo
			, b.update_employee_no updateEmployeeNo
			, b.board_count boardCount
			, b.create_date createDate
			, b.update_date updateDate
			, f.file_name fileName
			, f.file_ext fileExt
			, e.employee_name employeeName
			, e.employee_department employeeDepartment
		FROM board b
		INNER JOIN employee e ON e.employee_no = b.update_employee_no
		INNER JOIN file f ON f.file_no = e.photo_file_no
		WHERE b.board_no = #{boardNo}
	</select>
	
	<!-- 공지사항리스트 조회 -->
	<select id="selectBoardList" resultType="com.example.academy.dto.BoardListDTO">
		SELECT
			b.board_no boardNo
			, b.board_title boardTitle
			, e.employee_name employeeName
			, b.board_count boardCount
			, b.create_date createDate
			, b.update_date updateDate
		FROM board b
		LEFT OUTER JOIN employee e ON e.employee_no = b.update_employee_no
		WHERE b.use_yn = 1
	</select>

</mapper>