<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.academy.mapper.CalendarMapper">
	
	<!-- 진수우 : 캘랜더 리스트 출력 -->
	<select id="selectCalendar" parameterType="Integer">
		SELECT 
			calendar_no calendarNo
			, calendar_title calendarTitle
			, calendar_start calendarStart
			, calendar_end calendarEnd
			, calendar_classname calendarClassName
			, calendar_description calendarDescription
			, create_date createDate
			, update_date updateDate
		FROM calendar
		WHERE employee_no = #{employeeNo}
	</select>
</mapper>