<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.academy.mapper.ClassroomMapper">
	<!-- 박시현 : 강의실 수정 -->
	<update id="updateClassroom">
		UPDATE classroom 
			SET
			classroom_no = #{classroomName}
			, classroom_manager = #{classroomManager}
		 	, classroom_capacity = #{classroomCapacity}
		WHERE classroom_no = #{classroomNo}
	</update>

	<!-- 박시현 : 강의실 등록 -->
	<insert id="insertClassroom" parameterType="com.example.academy.dto.ClassroomListDTO">
		INSERT INTO 
			classroom(
				classroom_no
				, classroom_name
				, classroom_manager
				, classroom_capacity
			) VALUES(
				#{classroomNo}
				, #{classroomName}
				, #{classroomManager}
				, #{classroomCapacity}
			)
	</insert>

	<!-- 박시현 : 강의실리스트 조회 -->
	<select id="selectClassroomList" resultType="com.example.academy.dto.ClassroomListDTO">
		SELECT 
			c.classroom_no classroomNo
			, c.classroom_name classroomName
			, c.classroom_manager classroomManager
			, c.classroom_capacity classroomCapacity
			, e.employee_no employeeNo
			, e.employee_name employeeName
		FROM classroom c INNER JOIN employee e 
		ON c.classroom_manager = e.employee_no 
	</select>
</mapper>