<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.academy.mapper.ClassroomMapper">
	<!-- 박시현 : 강의실리스트 조회 -->
	<select id="selectClassroomList">
		SELECT 
			c.classroom_no
			, c.classroom_name
			, c.classroom_manager
			, c.classroom_capacity
			, c.create_date
			, c.update_date
		FROM classroom c
		LEFT OUTER JOIN employee e ON e.employee_no = c.classroom_manager
	</select>
</mapper>