<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.academy.mapper.CommonMapper">
	
	<!-- 김혜린 : 시간 조회 -->
	<select id="selectTime">
		SELECT 
			code
			, name 
		FROM common
		WHERE code LIKE 'TM%'		
	</select>
	
	<!-- 김혜린 : 요일 조회 -->
	<select id="selectWeekday">
		SELECT 
			code
			, name 
		FROM common
		WHERE code LIKE 'WK%'		
	</select>
	
	<!-- 진수우 : 부서 카테고리 조회 -->
	<select id="selectDepartmentCategory">
		SELECT
			code
			, name
		FROM common
		WHERE code LIKE 'DP%'
	</select>
	
	<!-- 진수우 : 직급 카테고리 조회 -->
	<select id="selectPositionCategory">
		SELECT
			code
			, name
		FROM common
		WHERE code LIKE 'PS%'
	</select>
	
	<!-- 진수우 : 파일 카테고리 조회 -->
	<select id="selectFileCategory">
		SELECT
			code
			, name
		FROM common
		WHERE code LIKE 'FC%'
	</select>

</mapper>