<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.academy.mapper.LectureLectureWeekdayMapper">

	<!-- 김혜린 :  강의 삭제(강의-강의시간 삭제)-->
	<delete id="deleteLectureLectureWeekday">
		DELETE FROM lecture_lecture_weekday
		WHERE lecture_no = #{lectureNo}
	</delete>
</mapper>