<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.academy.mapper.ReservationMapper">
	<!-- 박시현 : 회의 참여자 추가 -->
	<insert id="insertReservationByEmployee" parameterType="com.example.academy.vo.ReservationEmployee">
	    INSERT INTO reservation_employee (
	        reservation_no,
	        employee_no
	    ) VALUES (
	        #{reservationNo},
	        #{employeeNo}
	    )
	    ON DUPLICATE KEY UPDATE
        reservation_no = reservation_no
	</insert>

	<!-- 박시현 : 예약신청시 참여인원에 필요한 사원검색 -->
	<select id="selectReservationByEmployee" parameterType="String" resultType="com.example.academy.vo.Employee">
		SELECT 
			employee_no employeeNo
			, employee_name employeeName
		FROM employee
		WHERE LOWER(employee_name) LIKE LOWER(CONCAT('%',#{searchEmployee},'%'))
	</select>

	<!-- 박시현 : 회의실 예약 신청 -->
	<insert id="insertReservation" parameterType="com.example.academy.dto.AddReservationDTO">
		INSERT INTO reservation(
			meetingroom_no
			, begin_time_code
			, end_time_code
			, reservation_date
			, reservation_person
			, reservation_title
			, reservation_content
		) VALUES(
			#{meetingroomNo}
			, #{beginTimeCode}
			, #{endTimeCode}
			, #{reservationDate}
			, #{reservationPerson}
			, #{reservationTitle}
			, #{reservationContent}
		)
	</insert>
	
	<!-- 박시현) 예약목록 출력 -->
	<select id="selectReservationList" parameterType="com.example.academy.dto.ReservationListDTO">
		SELECT
			r.reservation_no
			, r.meetingroom_no
			, r.begin_time_code
			, r.end_time_code
			, r.reservation_date
			, r.reservation_person
			, r.reservation_title
			, r.reservation_content
			, m.meetingroom_no
			, m.meetingroom_name
			, e.employee_name
			, re.reservation_no
			, re.employee_no
		FROM reservation r	LEFT OUTER JOIN meetingroom m
		ON r.meetingroom_no = m.meetingroom_no
		LEFT OUTER JOIN employee e
		ON r.reservation_person = e.employee_no
		LEFT OUTER JOIN reservation_employee re
		ON r.reservation_no = re.reservation_no
    	AND e.employee_no = re.employee_no
		WHERE r.reservation_no = #{reservationNo}
	</select>
</mapper>