<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.academy.mapper.ReservationMapper">

	<!-- 박시현) 예약목록 출력 -->
	<select id="selectReservationList" parameterType="com.example.academy.dto.ReservationListDTO">
		SELECT
			r.reservation_no
			, r.meetingroom_no
			, r.begin_time_code
			, r.end_time_code
			, r.reservation_date
			, r.reservation_person
			, r.reservation_title
			, r.reservation_content
			, m.meetingroom_no
			, m.meetingroom_name
			, e.employee_name
			, re.reservation_no
			, re.employee_no
		FROM reservation r	LEFT OUTER JOIN meetingroom m
		ON r.meetingroom_no = m.meetingroom_no
		LEFT OUTER JOIN employee e
		ON r.reservation_person = e.employee_no
		LEFT OUTER JOIN reservation_employee re
		ON r.reservation_no = re.reservation_no
    	AND e.employee_no = re.employee_no
		WHERE r.reservation_no = #{reservationNo}
	</select>
</mapper>