<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Insert title here</title>
</head>
<body>
	<p><strong>Employee Name: </strong><span th:text="${employAddDTO.employeeName}"></span></p>
	<p><strong>Employee Gender: </strong><span th:text="${employAddDTO.employeeGender}"></span></p>
	<p><strong>Employee Birth: </strong><span th:text="${employAddDTO.employeeBirth}"></span></p>
	<p><strong>Employee Phone: </strong><span th:text="${employAddDTO.employeePhone}"></span></p>
	<p><strong>Employee Department: </strong><span th:text="${employAddDTO.employeeDepartment}"></span></p>
	<p><strong>Employee Position: </strong><span th:text="${employAddDTO.employeePosition}"></span></p>
	<p><strong>Photo File No: </strong><span th:text="${employAddDTO.employeePhoto}"></span></p>
	<p><strong>Employee Mail: </strong><span th:text="${employAddDTO.employeeMail}"></span></p>
	<p><strong>Employee Date: </strong><span th:text="${employAddDTO.employeeDate}"></span></p>
	
	<p><strong>Address name: </strong><span th:text="${employAddDTO.addressName}"></span></p>
	<p><strong>Address detail: </strong><span th:text="${employAddDTO.addressDetail}"></span></p>
	<p><strong>Post code: </strong><span th:text="${employAddDTO.postCode}"></span></p>
</body>
</html>