<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Lecture Details</title>
</head>
<body>

    <!-- 강의 테이블 -->
    <h3>Lecture Details</h3>
    <p><strong>Instructor Number: </strong><span th:text="${lectureApprovalModifyDTO.lecturer}"></span></p> <!-- 기안자 사원번호 -->
    <p><strong>Lecture Begin Date: </strong><span th:text="${lectureApprovalModifyDTO.lectureBeginDate}"></span></p> <!-- 개강일 -->
    <p><strong>Lecture End Date: </strong><span th:text="${lectureApprovalModifyDTO.lectureEndDate}"></span></p> <!-- 종강일 -->
    <p><strong>Classroom No: </strong><span th:text="${lectureApprovalModifyDTO.classroomNo}"></span></p> <!-- 강의실 -->
    <p><strong>Lecture Name: </strong><span th:text="${lectureApprovalModifyDTO.lectureName}"></span></p> <!-- 강의제목 -->
    <p><strong>Lecture Content: </strong><span th:text="${lectureApprovalModifyDTO.lectureContent}"></span></p> <!-- 강의내용 -->

    <!-- 강의시간 테이블 -->
    <h3>Lecture Time Details</h3>
	<div th:each="weekday : ${lectureApprovalModifyDTO.lectureWeekday}">
	    <p><strong>Weekday: </strong><span th:text="${weekday.weekdayCode}"></span></p>
	    <p><strong>Start Time: </strong><span th:text="${weekday.beginTimeCode}"></span></p>
	    <p><strong>End Time: </strong><span th:text="${weekday.endTimeCode}"></span></p>
	</div>
	
	 <!-- 결재자 테이블 -->
    <h3>Lecture People Details</h3>
	<div th:each="approval : ${lectureApprovalModifyDTO.approval}">
	    <p><strong>approval: </strong><span th:text="${approval}"></span></p>
	</div>

    <!-- 강의결재테이블 -->
    <h3>Approval Details</h3>
    <p><strong>Approval Title: </strong><span th:text="${lectureApprovalModifyDTO.lectureApprovalTitle}"></span></p>
    <p><strong>Approval Content: </strong><span th:text="${lectureApprovalModifyDTO.lectureApprovalContent}"></span></p>

    <!-- 파일 -->
    <h3>File Details</h3>
    <p><strong>Approval Already File: </strong><span th:text="${lectureApprovalModifyDTO.alreadyFiles}"></span></p>
    <p><strong>Approval File: </strong><a th:href="@{${lectureApprovalModifyDTO.lectureApprovalFile}}" target="_blank">Download</a></p>

</body>
</html>