<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Insert title here</title>
</head>
<body>
	<p><strong>Employee Name: </strong><span th:text="${employee.employeeName}"></span></p>
	<p><strong>Employee Gender: </strong><span th:text="${employee.employeeGender}"></span></p>
	<p><strong>Employee Birth: </strong><span th:text="${employee.employeeBirth}"></span></p>
	<p><strong>Address No: </strong><span th:text="${employee.addressNo}"></span></p>
	<p><strong>Employee Phone: </strong><span th:text="${employee.employeePhone}"></span></p>
	<p><strong>Employee Department: </strong><span th:text="${employee.employeeDepartment}"></span></p>
	<p><strong>Employee Position: </strong><span th:text="${employee.employeePosition}"></span></p>
	<p><strong>Photo File No: </strong><span th:text="${employee.photoFileNo}"></span></p>
	<p><strong>Stamp File No: </strong><span th:text="${employee.stampFileNo}"></span></p>
	<p><strong>Employee Mail: </strong><span th:text="${employee.employeeMail}"></span></p>
	<p><strong>Employee Date: </strong><span th:text="${employee.employeeDate}"></span></p>
	
	<p><strong>Address name: </strong><span th:text="${address.addressName}"></span></p>
	<p><strong>Address detail: </strong><span th:text="${address.addressDetail}"></span></p>
	<p><strong>Post code: </strong><span th:text="${address.postCode}"></span></p>
</body>
</html>